@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle-animation {
  position: absolute;
  scale: 1.4;
  z-index: 1;
  animation: rotate 50s linear infinite;
}

.AccordionPlusIcon {
	transition: all 0.2s ease-in-out;
}
.AccordionTrigger[data-state="open"] > .AccordionPlusIcon {
	transform: rotate(45deg);
}