@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle-animation {
  position: absolute;
  scale: 1.4;
  z-index: 1;
  animation: rotate 50s linear infinite;
}

.AccordionPlusIcon {
  transition: all 0.2s ease-in-out;
}
.AccordionTrigger[data-state="open"] > .AccordionPlusIcon {
  transform: rotate(45deg);
}